version: '2'
services:
    myuaa-app:
        image: myuaa
        external_links:
            - myuaa-postgresql:postgresql
            - jhipster-registry:registry
        environment:
            - SPRING_PROFILES_ACTIVE=prod
            - SPRING_CLOUD_CONFIG_URI=http://admin:admin@registry:8761/config
            - SPRING_DATASOURCE_URL=jdbc:postgresql://postgresql:5432/myuaa
    myuaa-postgresql:
        extends:
            file: postgresql.yml
            service: myuaa-postgresql
    jhipster-registry:
        extends:
            file: jhipster-registry.yml
            service: jhipster-registry
